*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body{
    background:url(https://c.stocksy.com/a/ZcyH00/z9/4284607.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:110vh;
    width:100%;
}

    

 #header{
    display: flex;
    padding-top: 8px;
    font-family: 'Cinzel', serif;
    font-weight: 600;
 }
 #header div *{
    margin-left:10px;
}

 .one a{
    color:white;
    text-decoration: none;
    

 }
 .two{
    margin-left: 170px;
    
 }
 li{
    list-style: none;
 }

 
a{
 text-decoration: none;
    
    color:gold;

    
     
}
a:hover{
 width: 100%;
 cursor: pointer;
 color:white;
 border-bottom-width:100%;
 border-bottom: 2px solid gold;
    border-radius:2px;
    }

ul{
    display: flex;
    }

 .three{
margin-left:280px;  
 }
 
 
.front{
    width:42%;
    height:40vh;
    flex-wrap:wrap;
    bottom:0;
    position: absolute;
    left: 80px;
    margin-top: 200px;
}
.front h2{
    font-size:45px;
    color:#fff;
}
p
{
font-family: 'Pontano Sans', sans-serif;
/*font-family: 'Slabo 27px', serif;*/
    color: white;
}

.three li:nth-child(1){
    border-right:2px solid gold;
    padding-right: 15px;
}